

*{
    padding: 0;
    margin: 0;
}

/*header*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.menu{
    text-align: center;
    background-color: black;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 2% 3%;
    position: relative;
    border-bottom: orangered;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
}
.menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu ul li:hover::after{
    width: 100%;
}

.text-intro{
    color: white;
    position: absolute;
    top: 40%;
    left: 13%;
    right: 13%;
    text-align: center;
}
.text-intro p{
    padding: 2% 0%;
}
.button-link{
    padding: 1%;
    border: 1px solid;
    border-color: white;
    text-decoration: none;
    color: white;
}
.button-link:hover{
    background: #f44336;
    transition: 1s;
    color: white;
}
@media only screen and (max-width: 571px)
{
    .menu ul{
        padding: 0% 20%;
    }
}

/*content-danh lam thắng cảnh*/
.content{
    text-align: center;
    padding: 7% 3%;
}
.content p{
    color: #777;
}

.content-text{
    padding-bottom: 5%;
}

.content a{
    text-decoration: none;
}
.content-image{
    margin: 0% 5%;
}

/*content-đặc sản*/
.content-2{
    text-align: center;
    padding: 1% 3%;
    padding-bottom: 3%;
}
.content-2 p{
    color: #777;
}
.content-2-text{
    padding: 2% 0%;
}

.content-2-text a{
    text-decoration: none;
}
.content-2-image img{
    height: 269px;
}

/*contact*/
.contact{
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    padding: 10%;
    margin: auto;
    text-align: center;
}
.contact h1{
    color: white;
    padding-bottom: 3%;
}

/*footer*/
.footer{
    text-align: center;
    padding: 4% 3%;
    margin-top: 2%;
    background-color: #edededad;
}
.footer svg{
    color: #f44336;
}