@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    padding: 0;
    margin: 0;
}

/*header*/
.header{
    min-height: 70vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background-infor.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.menu{
    text-align: center;
    background-color: black;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 2% 3%;
    position: relative;
    border-bottom: orangered;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 110%;
    font-family:  sans-serif;
}
.menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu ul li:hover::after{
    width: 100%;
}

.text-intro{
    color: white;
    position: absolute;
    top: 40%;
    left: 13%;
    right: 13%;
    text-align: center;
}

.text-intro p{
    padding: 2% 0%;
}
.button-link{
    padding: 1%;
    border: 1px solid;
    border-color: white;
    text-decoration: none;
    color: white;
}
.button-link:hover{
    background: #f44336;
    transition: 1s;
    color: white;
}
@media only screen and (max-width: 571px)
{
    .menu ul{
        padding: 0% 20%;
    }
}
/*content thong tin*/
.content{
    text-align: center;
    padding: 5% 3%;
    background-color: #e3e3e3;
}
.content p{
    text-align: left;
    color: #777;
}
.row img{
    width: 100%;
    height: 100%;
}

/*footer*/
.footer{
    text-align: center;
    padding: 2% 3%;
    background-color: #edededad;
}
.footer svg{
    color: #f44336;
}
